@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #050816;
}

body {
  background: radial-gradient(circle at top, #1e293b 0, #020617 55%, #000 100%);
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

.glass {
  background: radial-gradient(circle at top left, rgba(129, 140, 248, 0.3), transparent 55%),
              radial-gradient(circle at bottom right, rgba(236, 72, 153, 0.25), transparent 55%);
  backdrop-filter: blur(30px);
}
